html, #main-pg, #projects-pg {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-pg {
    position: fixed;
    z-index: 2;
}

nav {
    text-align: center;
    background-color: #00FF99;
    overflow: hidden;
}

nav a {
    display: inline-block;
    color: #8080FF;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #FF80B3;
    color: white;
}

nav a.active {
    background-color: #E6005C;
    color: white;
}

nav a, p, h1 {
    font-family: Arial;
}

#about-me, #my-name {
    position: fixed;
    z-index: 1;
    margin-left: 35%;
    margin-right: 35%; 
}

#my-name {
    margin-top: 15%;
    font-size: 30px;
    color: #E600AC;
}

#about-me {
    margin-top: 20%;
    font-size: 20px;
}

#projects-pg {
    background: #FFFF80;
}

#projects-pg h1 {
    font-weight: bold;
    font-size: xx-large;
    color: #FFFFFF;
}

.project {
    text-align: center;
    width: 50%;
}

#project1 {
    float: left;
}

#project2 {
    float: right;
}

#project1 .project-intro {
    background: #FF6666;
}

#project2 .project-intro {
    background: #CC33FF;
}

.project-images {
    margin-top: 15%;
}

.about-project {
    margin-top: 10%;
    text-align: left;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-size: large;
}

.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.thumbnail-selected, .thumbnail {
    display: inline-block;
    width: 7%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    margin-bottom: 1.2%;
    border-style: solid;
    border-color: #99FFCC;
    border-width: medium;
}

.thumbnail-selected {
    border-color: #FF0066;
}

.icon {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
